@import "compass/css3";
@import "../components/sass-bootstrap/lib/bootstrap";
@import "../components/sass-bootstrap/lib/responsive";
@import "landing";
@import "login";
@import "new";
@import "show";

/* Global */
.inline-block {
	display: inline-block;
	vertical-align: top;
}
.padded10 {
	padding: 10px;
}
.view-header {
	padding: 30px 0;
}

/* Typography */
.light {
	font-weight: 200;
}
/* Forms */
input {
	&.inverse {
		background: #1b1b1b;
		background-color: #1b1b1b;
		color: #999;
		@include box-shadow (0 1px 1px rgba(255,255,255,.1));
		border-color: #111;
	}
	&[type="file"]{
		line-height: 12px;
	}
}

/* Overrides */
.container-fluid {
	&.well {
		padding: 20px 0;
		margin: 0px;
		@include border-radius(0px);
	}
}
.well {
	&.inverse {
		background: #fff;
		border-color: #ccc;
	}
	&.well-tabs {
		
	}
}
.breadcrumb {
	background-color: transparent;
	padding-left: 0px;
	margin-top: 10px;
}