<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4>Sign up with</h4>
</div>
<div class="modal-body" ng-hide="loading" ng-cloak>
	<div class="alerts">
		<div class="alert fade" ng-repeat="alert in alerts" bs-alert="alert"></div>
	</div>
  <div class="row-fluid">
  	<div class="span6">
  		<button type="button" class="btn btn-block">Facebook</button>
  	</div>
  	<div class="span6">
  		<button type="button" class="btn btn-block">Twitter</button>
  	</div>
  </div>
  <div class="row-fluid or-seperator text-center">
  	<span class="or">OR</span>
  	<hr>
  </div>
  <div class="row-fluid">
  	<input type="email" class="input-block-level" placeholder="Email address" ng-model="cred.email" ng-required="true"/>
  	<input type="password" class="input-block-level" placeholder="Password" ng-model="cred.password" ng-required="true"/>
  	<button type="button" class="btn btn-block" ng-click="signup($modal)">Sign up</button>
  </div>
</div>
<div class="modal-body" ng-show="loading" ng-cloak>
	<p class="text-center muted">Loading</p>
</div>