<div class="sectional color1a">
  <div class="container animated fadeIn">
    <div class="col-md-6 col-md-offset-3">
      <h3 class="text-center">Signup</h3>
      <div ng-cloak ng-show="loading" class="animated fadeIn">
        <h3 class="text-center"><i class="fa fa-spin fa-spinner"></i></h3>
      </div>      
      <div ng-hide="loading" class="form-group animated fadeIn" ng-form="registerForm" ng-class="{'shake':error ? true:false}">
        <div ng-show="error" class="animated fadeIn alert alert-danger"><strong>{{error}}</strong></div>
        <div class="form-group" ng-class="{'has-error':!email,'has-success':email}">
          <input class="form-control" type="text" ng-model="email" name="email" placeholder="Email" required/>
        </div>
        <div class="form-group" ng-class="{'has-error':!password,'has-success':password}">
          <input class="form-control" type="password" ng-model="password" name="password" placeholder="Password" required/>
        </div>
        <div class="form-group" ng-class="{'has-error':!confirm || confirm !== password,'has-success':confirm && password === confirm}">
          <input class="form-control" type="password" ng-model="confirm" placeholder="Confirm Password" />
        </div>
        <div class="form-group">
          <ul class="list-unstyled">
            <li><i class="fa fa-check-square-o"></i> <small>By clicking "Signup" I accept the <a href="/legal" target="_blank">Terms of Service</a> and <a href="/legal" target="_blank">Privacy Policy</a>.</small></li>
          </ul>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <a href="/login"><small>Already have an account? Login</small></a>
            </div>
            <div class="col-sm-6">
              <button class="btn btn-default highlight btn-block" ng-click="submit()" ng-disabled="registerForm.$invalid">Signup</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row sectional color3">
  <div class="container text-center animated fadeInDown">
    <h1>Summer only lasts so long...</h1>
    <h2>Here's why you should sign up today</h2>
  </div>
</div>

<div class="row sectional color3">
  <div class="container animated fadeInLeft">
    <div class="col-md-6">
      <!-- animation -->
      <img src="/images/faw-computer-animation.gif" class="img-responsive"/>
    </div>
    <div class="col-md-6">
      <h2>Discover and meet new people</h2>
      <p class="lead">Discover riders and boat owners in your area who enjoy water sports as much as you do.</p>
    </div>
  </div>
</div>

<div class="row sectional color3">
  <div class="container animated fadeInRight">
    <div class="col-md-6">
      <h2>No more waiting at the docks</h2>
      <p class="lead">Those days of waiting hours in hopes to find someone willing to give you a ride are over. With Find A Wake you will know exactly who you are meeting, the time and place.</p>
    </div>
    <div class="col-md-6">
      <!-- animation -->
    </div>
  </div>
</div>

<div class="row sectional color3">
  <div class="container animated fadeInLeft">
    <div class="col-md-6">
      <!-- animation -->
    </div>
    <div class="col-md-6">
      <h2>Save $$$ by sharing</h2>
      <p class="lead">Split the gas bill and enjoy the benefits of sharing a wake with riders.</p>
    </div>
  </div>
</div>