<div class="container">
	<ul class="breadcrumb">
	  <li><a href="#/">Home</a> <span class="divider">/</span></li>
	  <li><a href="#/users/{{auth.user}}">{{auth.email}}</a> <span class="divider">/</span></li>
	  <li class="active">Account</li>
	</ul>
	<div class="row-fluid">
		<div class="span8">
			<legend>
				<ul class="nav nav-lines">
				  <li class="active">
				    <a href="#/users/{{auth.user}}">Account</a>
				  </li>
				  <li>
				    <a href="#/users/{{auth.user}}/pulls">Boats</a>
				  </li>
				</ul>
			</legend>
			<div class="form-horizontal">
			  <div class="control-group">
			    <label class="control-label">Name</label>
			    <div class="controls">
			      <input type="text" placeholder="Name" class="input-block-level" ng-model="user.name" />
			      <small class="muted">We're big on names around here, so people know who's who.</small>
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label">Location</label>
			    <div class="controls">
			      <input type="text" placeholder="Location" class="input-block-level" ng-model="user.location" />
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label">Email</label>
			    <div class="controls">
			      <input type="text" placeholder="Email" class="input-block-level" ng-model="user.email" />
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label">Cell</label>
			    <div class="controls">
			    	<div class="input-prepend">
			      	<span class="add-on">1</span>
			      	<input type="tel" placeholder="(555) 555-5555" ng-model="user.cell.value" />
			      </div>
			      <button ng-cloak ng-show="user.cell.value && !user.cell.verification" class="btn" ng-click="verifyCell()">Verify</button>
			    </div>
			  </div>
			  <div ng-cloak ng-show="user.cell.verification" class="control-group">
			  	<div class="controls alert alert-info">
			  		<p>Please enter the verification code we sent to {{user.cell.value}}. If you didnt recieve a code, you can <a href="" ng-click="sendVerificationCode()">try again</a>.</p>
			  		<input type="text" placeholder="Verification code" />
			  		<button type="button" class="btn btn-primary" ng-click="verifyCell()">Submit</button>
			  	</div>
 			  </div>
			  <div class="control-group">
			    <label class="control-label">Bio</label>
			    <div class="controls">
			      <textarea class="input-block-level" ng-model="user.bio"></textarea>
			    </div>
			  </div>
			</div>
		</div>
		<div class="span4">
			<legend>Your Avatar</legend>
			<div class="row-fluid">
				<div class="control-group clearfix">
					<div class="span4">
						<div class="text-center">
			      	<img ng-cloak ng-show="user.avatar" class="img-rounded" ng-src="{{user.avatar}}" />
			      	<i ng-cloak ng-hide="user.avatar" class="icon-user no-avatar"></i>
			    	</div>
			    </div>
			    <div ng-cloak ng-hide="user.avatar" class="span8">
			    	<input type="file" file-upload="avatar" />
			    	<button type="button" class="btn btn-small btn-primary btn-block" ng-click="upload()" data-loading-text="Uploading..." btn-loading="uploadingAvatar">Upload Now</button>
			    </div>
			    <div ng-cloak ng-show="user.avatar" class="span8">
			    	<button type="button" class="btn btn-small" ng-click="user.avatar=null"><i class="icon-trash"></i> Delete Avatar</button>
			    </div>
			  </div>
		  </div>
		  <div class="section">
		  	<legend>Your Gear</legend>
		  	<div class="row-fluid">
		  		<table class="table table-condensed table-hover table-list">
		  			<tbody>
		  				<tr ng-repeat="gear in user.gear">
		  					<td class="text-right"><b>{{gear.type}}</b></td>
		  					<td>{{gear.desc}} <button ng-click="removeGear($index)" type="button" class="pull-right btn btn-small btn-link"><i class="icon-trash"></i></button></td>
		  				</tr>
		  			</tbody>
		  		</table>
		  	</div>
		  	<div class="controls-row">
		  		<select class="span4" ng-model="gear.type">
		  			<option selected disabled value="">Select one</option>
		  			<option ng-repeat="type in options.gear" value="{{type}}">{{type}}</option>
		  		</select>
		  		<div class="span8 input-append">
		  			<input class="span10" type="text" placeholder="E.g. Ronix One 2013" ng-model="gear.desc" />
		  			<button type="button" class="inline-block btn" ng-click="addGear()"><i class="icon-plus"></i></button>
		  		</div>
		  	</div>
			</div>
		</div>
	</div>
</div>
