<div class="sectional sectional-sm color1a clearfix">
  <div class="container animated fadeIn">
    <div class="col-sm-8">
      <h2>{{wake.boat.year}} {{wake.boat.make}} {{wake.boat.model}} <small><i class="fa fa-map-marker"></i> {{wake.location.formatted}}</small></h2>
    </div>
    <div class="col-sm-4">
      <h2><a class="btn btn-lg btn-block btn-default highlight" ng-href="/meetups/{{wake.id}}/new">New Meetup</a></h2>
    </div>
  </div>
</div>
<div class="sectional sectional-sm">
  <div class="sectional-title">meetups</div>
  <div class="container">
    <div class="panel panel-default" ng-repeat="meetup in meetups|orderBy:'time'">
      <div class="panel-heading highlight">
        <h4>{{meetup.date | date:'fullDate'}}, {{meetup.time | date:'shortTime'}}</h4>
      </div>
      <div class="panel-body highlight">
        <div class="row clearfix">
          <div class="col-md-6">
            <address>
              <a ng-href="http://maps.google.com/maps?daddr={{meetup.location.lat}},{{meetup.location.lng}}" target="_blank"><i class="fa fa-map-marker"></i> {{meetup.location.formatted}}</a>
            </address>
          </div>
          <div class="col-md-6">
            {{meetup.date|moment:'fromNow'}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>