<div class="sectional sectional-sm color1a clearfix">
  <div class="container animated fadeIn">
    <div class="col-sm-8">
      <h2>{{wake.boat.year}} {{wake.boat.make}} {{wake.boat.model}} <small><i class="fa fa-map-marker"></i> {{wake.location.formatted}}</small></h2>
    </div>
    <div class="col-sm-4">
      <h2><a class="btn btn-lg btn-block btn-default highlight" ng-href="/meetups/{{wake.id}}/new">New Meetup</a></h2>
    </div>
  </div>
</div>
<div class="sectional sectional-sm">
  <div class="sectional-title">meetups</div>
  <div class="container">
    <div class="row-fluid clearfix">
      <div class="col-sm-6 col-md-4" ng-repeat="meetup in meetups|orderBy:'-time'">
        <a ng-href="/meetups/{{wake.id}}/{{meetup.id}}" class="thumbnail highlight" ng-class="">
          <div class="caption">
            <p class="lead text-center text-capitalize">{{meetup.date|moment:'fromNow'}}</p>
            <hr/>
            <h3 class="text-center"><i class="fa fa-map-marker"></i></h3>
            <h4 class="text-center">{{meetup.location.undefined || meetup.location.point_of_interest}}</h4>
            <hr/>
            <p><i class="fa fa-calendar"></i> {{meetup.date | date:'fullDate'}}</p>
            <p><i class="fa fa-clock-o"></i> {{meetup.time | date:'shortTime'}}</p>
      <!--       <div class="col-md-2">
              <h4 class="text-center text-info"><i class="fa fa-users"></i> {{meetup.riders | number}}</h4>
            </div> -->
          </div>
        </a>
      </div>
    </div>
  </div>
</div>