<div class="sectional sectional-sm color1a clearfix">
  <div class="container animated fadeIn">
    <div class="col-sm-23">
      <h2>{{wake.boat.year}} {{wake.boat.make}} {{wake.boat.model}} <small><i class="fa fa-map-marker"></i> {{wake.location.formatted}}</small></h2>
    </div>
  </div>
</div>
<div class="sectional sectional-sm highlight">
  <div class="sectional-title">let's ride</div>
  <div class="container">
    <h3 class="text-center">Meetup With Your Riders</h3>
  </div>
</div>
<div class="sectional">
  <div class="container">
    <div class="row clearfix form-group">
      <div class="col-md-6 form-group">
        <h4>Meetup Location</h4>
        <p>What's the exact meetup location where riders should meet you?</p>
      </div>
      <div class="col-md-6" meetup-location-form meetup="meetup"></div>
    </div>
    <hr/>
    <div class="row clearfix form-group">
      <div class="col-md-6 form-group">
        <h4>Meetup Date</h4>
        <p>When should the riders meet you?</p>
      </div>
      <div class="col-md-6" meetup-date-form meetup="meetup"></div>
    </div>
    <hr/>
    <div class="row clearfix form-group">
      <div class="col-md-6 form-group">
        <h4>Meetup Time</h4>
        <p>What time should the riders meet you?</p>
      </div>
      <div class="col-md-6" meetup-time-form meetup="meetup"></div>
    </div>
  </div>
</div>
<div ng-cloak ng-show="meetup.location && meetup.date && meetup.time" class="sectional sectional-sm highlight">
  <div class="sectional-title">this will be shared with your riders</div>
  <div class="container animated fadeIn"> 
    <div class="row form-group clearfix">
      <div class="col-md-4">
        <p class="text-center text-info lead"><i class="fa fa-map-marker"></i> {{meetup.location.formatted}}</p>
      </div>
      <div class="col-md-4">
        <p class="text-center text-info lead"><i class="fa fa-calendar"></i> {{meetup.date | date:'fullDate'}}</p>
      </div>
      <div class="col-md-4">
        <p class="text-center text-info lead"><i class="fa fa-clock-o"></i> {{meetup.time | date:'shortTime'}}</p>
      </div>
<!--       <div class="col-md-2">
        <h4 class="text-center text-info"><i class="fa fa-users"></i> {{meetup.riders | number}}</h4>
      </div> -->
    </div>
  </div>
</div>
<div class="sectional sectional-sm">
  <div class="container">
    <div class="row form-group clearfix">
        <div class="col-md-9">
          <a ng-href="/meetups/{{wake.id}}">Back to Meetups</a>
        </div>
        <div class="col-md-3 text-right">
          <button type="button" class="btn btn-lg btn-primary btn-block" ng-disabled="!meetup.location || !meetup.date || !meetup.time" ng-click="submit()">Let's Ride</button>
        </div>
      </div>
  </div>
</div>
<!-- <div class="sectional sectional-sm color1b clearfix">
  <div class="container text-center animated fadeIn">
    <h1>Let's Ride!</h1>
    <h2>Ready to share the wake of your <i>{{wake.boat.year}} {{wake.boat.make}} {{wake.boat.model}}</i>?</h2>
    <p class="lead">Awesome! Now you can easily notify all the accepted riders when and where to meet you.</p>
  </div>
</div> -->