<div class="row form-group clearfix">
  <div class="col-md-6 form-group">
    <h4>Describe your Boat. <span class="label label-info">Public</span></h4>
    <p>Let potential riders know what they can expect from your boat. This is also the perfect place to brag about your boat and the monster <b>wake</b> it makes.</p>
  </div>
  <div class="col-md-6">
    <wake-info wake="wake"></wake-info>
    <wake-thumbnail wake="wake"></wake-thumbnail>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="true" ng-model="wake.boat.perfectPass"> Cruise Control / Perfect Pass
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="true" ng-model="wake.boat.tower"> Tower
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="true" ng-model="wake.boat.pylon"> Extended Pylon
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="true" ng-model="wake.boat.ballastSystem"> Ballast System
        </label>
      </div>
    </div>
  </div>
</div>
<hr/>
<div class="row form-group clearfix">
  <div class="col-md-6 form-group">
    <h4>Type of Wakes. <span class="label label-info">Public</span></h4>
    <p>What type of wakes can your boat create? Select from wakesurfing, wakeboarding, and wakeskating. </p>
  </div>
  <div class="col-md-6" wake-types wake="wake"></div>
</div>
<hr>
<div class="row form-group clearfix">
  <div class="col-md-6 form-group">
    <h4>Boating Schedule. <span class="label label-info">Public</span></h4>
    <p>What days would you be willing to share your wake?</p>
  </div>
  <div class="col-md-6 table-responsive" wake-schedule wake="wake"></div>
</div>
<hr>
<div class="row form-group clearfix">
  <div class="col-md-6 form-group">
    <h4>Boating Location. <span class="label label-info">Public</span></h4>
    <p>What's the general location of your boating activities?</p>
    <p class="text-muted">NOTE: This is not the exact location of your house or boat, but the lake or river where you primarily go boating.</p>
  </div>
  <div class="col-md-6" wake-location wake="wake"></div>
</div>
<hr>