<div class="sectional sectional-sm color1a">
  <div class="container animated fadeIn">
    <form class="form-text form-inline text-center">
      <h1 class="text-serif">
        <i class="fa fa-search"></i>
          Find me a wake near
        <div class="form-group">
          <input type="text" class="form-control input-lg" ng-change="updateLocation()" placeholder="city, state" ng-model="location" required>
        </div>
      </h1>      
    </form>
  </div>
</div>
<div class="sectional">
  <div class="sectional-title">view latest wakes</div>
  <div class="container">
    <div class="row clearfix">
      <div class="col-sm-6 col-md-3 animated fadeIn" ng-repeat="wake in wakes" wake-thumbnail></div>
    </div>  
  </div>
</div>
<div class="sectional highlight">
  <div class="sectional-title">or browse by location</div>
  <div class="container" locations></div>
</div>