<div class="sectional sectional-sm color1a clearfix">
  <div class="container animated fadeIn">
    <div class="col-sm-23">
      <h2>{{wake.boat.year}} {{wake.boat.make}} {{wake.boat.model}} <small><i class="fa fa-map-marker"></i> {{wake.location.formatted}}</small></h2>
    </div>
  </div>
</div>
<div class="sectional sectional-sm highlight">
  <div class="sectional-title">let's ride</div>
  <div class="container">
    <p class="lead text-center">Ready to share your wake? Awesome!<br/>Now you just need to notify all the accepted riders where and when to meet up.</p>
  </div>
</div>
<div class="sectional">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-6 form-group">
        <h4>Meetup Location. <span class="label label-info">Public</span></h4>
        <p>What's the exact meetup location for your boating activities?</p>
      </div>
      <div class="col-md-6" meetup-location-form meetup="meetup"></div>
    </div>
  </div>
</div>
<!-- <div class="sectional sectional-sm color1b clearfix">
  <div class="container text-center animated fadeIn">
    <h1>Let's Ride!</h1>
    <h2>Ready to share the wake of your <i>{{wake.boat.year}} {{wake.boat.make}} {{wake.boat.model}}</i>?</h2>
    <p class="lead">Awesome! Now you can easily notify all the accepted riders when and where to meet you.</p>
  </div>
</div> -->