<div class="sectional color1a clearfix">
  <div class="container">
    <div class="col-sm-9">
      <h2>{{wake.boat.year}} {{wake.boat.make}} {{wake.boat.model}} <small><i class="fa fa-map-marker"></i> {{wake.location.formatted}}</small></h2>
      <!-- <small ng-cloak ng-show="profile.name">By <a ng-href="/profile/{{wake.userId}}">{{profile.name}}</a></small> -->
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>
<div class="sectional highlight">
  <div class="sectional-title">request a ride</div>
  <h4 ng-cloak ng-show="loading" class="text-center animated fadeIn">Requesting a ride... <i class="fa fa-spin fa-spinner"></i></h4>
  <div ng-show="error" class="alert alert-danger"><strong>{{error}}</strong></div>
  <div ng-hide="loading" class="container animated fadeIn">
    <div class="row clearfix">
      <div class="col-sm-6">
        <h4>What type of boarding do you plan to do?</h4>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div ng-cloak ng-show="type.selected" class="col-sm-4" ng-repeat="type in wake.types">
            <a href="" class="thumbnail board-thumbnail" ng-class="{true: 'active color3'}[request.type[type.name].selected]" ng-click="request.type[type.name].selected = !request.type[type.name].selected">
              <span class="boarding-icons boarding-icons-{{type.name}}" ng-class="{true: type.name+'-active'}[request.type[type.name].selected]"></span>
              <h6 class="text-center"><i class="fa" ng-class="request.type[type.name].selected ? 'fa-check-square-o':'fa-square-o'"></i> {{type.name}}</h6>
            </a>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row clearfix">
      <div class="col-sm-6">
        <h4>How much are you willing to contribute for expenses?</h4>
        <p>If everyone pitches in for Gas money, the more willing a boat owner is to take you out.</p>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input class="form-control" type="text" placeholder="20" ng-model="request.expenses" value="20">
          <span class="input-group-addon">.00</span>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row clearfix">
      <div class="col-sm-6">
        <h4>Can you help with any of the following?</h4>
      </div>
      <div class="col-sm-6">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="true" ng-model="request.help.ridingLessons">
            Riding Lessions
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="true" ng-model="request.help.driving">
            Driving
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="true" ng-model="request.help.cleanup">
            Cleaning
          </label>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row clearfix">
      <div class="col-sm-6">
        <h4>What's your notification preference?</h4>
      </div>
      <div class="col-sm-6">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="true" ng-model="request.notification.email">
            Email
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="true" ng-model="request.notification.text">
            Text Message
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="true" ng-model="request.notification.phone">
            Phone Call
          </label>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row clearfix">
      <div class="col-sm-9 form-group">
        <a ng-href="/wakes/{{wake.id}}">Cancel and Go Back</a>
      </div>
      <div class="col-md-3 text-right">
        <button type="button" class="btn btn-block btn-primary btn-lg" ng-click="submit()">Submit</button>
      </div>
    </div>
  </div>
</div>