<div class="animated fadeIn">
  <div class="row clearfix">
    <div class="col-xs-9">
      <h2>{{wake.boat.year}} {{wake.boat.make}} {{wake.boat.model}} <small><i class="fa fa-map-marker"></i> {{wake.location.formatted}}</small>  
      </h2>
      <small ng-cloak ng-show="profile.name">By <a ng-href="/profile/{{profile.$id}}">{{profile.name}}</a></small>
    </div>
    <div ng-cloak ng-show-auth="login" class="col-xs-3 text-right">
      <button ng-cloak ng-show="wake.userId === auth.userId" ng-click="removeWake(wake)" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i> Delete</button>
      <a ng-cloak ng-show="wake.userId === auth.userId" ng-href="/wakes/{{wake.id}}/edit" class="btn btn-danger btn-sm"><i class="fa fa-gear"></i> Edit</a>
    </div>
  </div>
  <hr/>
  <div class="row clearfix">
    <div class="col-md-8">
      <div class="row">
         <div class="col-sm-4" ng-repeat="type in wake.types">
          <div class="thumbnail board-thumbnail" ng-class="{true: 'active'}[type.selected]">
            <span class="boarding-icons boarding-icons-{{type.name}}" ng-class="{true: type.name+'-active'}[type.selected]"></span>
            <p class="text-center">{{type.name}}</p>
          </div>
        </div>
      </div>
      <div class="boat-info panel panel-default">
        <div class="boat-features">
          <span class="label label-info" ng-show="wake.boat.perfectPass">CRUISE CONTROL / PERFECT PASS</span>
          <span class="label label-info" ng-show="wake.boat.ballastSystem">BALLAST SYSTEM</span>
          <span class="label label-info" ng-show="wake.boat.tower">TOWER</span>
          <span class="label label-info" ng-show="wake.boat.pylong">EXTENDED PYLON</span>
        </div>
        <div class="boat-thumbnail">
          <span class="shadow-overlay"></span>
          <img class="img-responsive" ng-src="{{wake.thumbnail}}" />
        </div>
        <div class="boat-tabs">
          <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#description">Description</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="description">
              {{wake.boat.description}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div ng-hide="profile" class="well text-center animated fadeIn"><i class="fa fa-spin fa-spinner"></i></div>
      <div ng-cloak class="well animated fadeIn" ng-hide="rideRequested()">
        <div class="form-group" ng-show-auth="login">
          <button type="button" class="btn btn-block btn-primary btn-lg" ng-click="requestRide()"><i class="fa fa-star-o"></i> Request A Ride!</button>
        </div>
        <div class="form-group" ng-show-auth="['logout','error']">
          <button type="button" class="btn btn-block btn-primary btn-lg" ng-click=""><i class="fa fa-star-o"></i> Request A Ride!</button>
        </div>
        <p class="muted text-center">Request a ride to be notified when you can wakeboard, wakesurf, or wakeskate behind this wake making machine!</p>
      </div>
      <div ng-cloak class="well animated fadeIn" ng-show="rideRequested()">
        <div class="form-group">
          <button type="button" class="btn btn-block btn-success disabled btn-lg"><i class="fa fa-star"></i> Ride Requested</button>
        </div>
        <p class="muted text-center">
          You'll be notified via when a session has been scheduled.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <h4><i class="fa fa-calendar"></i> Boating Schedule</h4>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Day</th>
            <th>From</th>
            <th>To</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="s in wake.schedules">
            <td>{{s.day}}</td>
            <td>{{s.from.hour}}{{s.from.period}}</td>
            <td>{{s.to.hour}}{{s.to.period}}</td>
          </tr>
          <tr ng-cloak ng-hide="wake.schedules">
            <td colspan="3" class="muted">The wake schedule will be posted soon.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
