<div ng-cloak ng-hide="wake.id" class="sectional highlight text-center">
  <h1><i class="fa fa-meh-o"></i></h1>
  <h3 class="text-center">This wake doesn't appear to exist...</h3>
  <p class="lead">Please double check the url you are trying to visit.</p>
</div>
<div ng-cloak ng-show="wake.boat" class="sectional color1a clearfix sectional-sm">
  <div class="container animated fadeIn">
    <div class="col-sm-8">
      <h2>{{wake.boat.year}} {{wake.boat.make}} {{wake.boat.model}} <small ng-cloak ng-show="wake.location"><i class="fa fa-map-marker"></i> {{wake.location.formatted}}</small></h2>
      <small ng-cloak ng-show="profile.name">By <a ng-href="/profile/{{wake.userId}}">{{profile.name}}</a></small>
    </div>
    <div class="col-sm-4">
      <h2 ng-cloak ng-show="wake.id"><a class="btn btn-block btn-default highlight btn-lg" ng-href="/wakes/{{wake.id}}/request/ride">Request A Ride</a></h2>
    </div>
    <!-- <div ng-cloak ng-show-auth="login" class="col-xs-3 text-right">
      <button ng-cloak ng-show="wake.userId === auth.userId" ng-click="removeWake(wake)" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i> Delete</button>
      <a ng-cloak ng-show="wake.userId === auth.userId" ng-href="/wakes/{{wake.id}}/edit" class="btn btn-danger btn-sm"><i class="fa fa-gear"></i> Edit</a>
    </div> -->
    <!-- <div ng-cloak class="well animated fadeIn">
        <div class="form-group">
          <button type="button" class="btn btn-block btn-success disabled btn-lg"><i class="fa fa-star"></i> Ride Requested</button>
        </div>
        <p class="muted text-center">
          You'll be notified via when a session has been scheduled.
        </p>
      </div>
    </div> -->
  </div>
</div>
<div ng-cloak ng-show="wake.thumbnail" class="wake-show-thumbnail {{wake.thumbnail ? 'has-thumbnail':'no-thumbnail'}} animated fadeIn" style="background-image: url('http://i.imgur.com/{{wake.thumbnail}}h.jpg')"></div>
<div class="sectional">
  <div class="container animated fadeIn">
    <div class="col-md-8">
      <p class="lead">{{wake.boat.description}}</p>
    </div>
    <div ng-cloak ng-show="wake.schedules || wake.boat" class="col-md-4">
      <h4><i class="fa fa-smile-o"></i> Goodies</h4>
      <ul class="list-unstyled">
        <li ng-cloak ng-show="wake.boat.perfectPass"><i class="fa fa-check"></i> Cruise Control / Perfect Pass</li>
        <li ng-cloak ng-show="wake.boat.ballastSystem"><i class="fa fa-check"></i> Ballast System</li>
        <li ng-cloak ng-show="wake.boat.tower"><i class="fa fa-check"></i> Tower</li>
        <li ng-cloak ng-show="wake.boat.pylon"><i class="fa fa-check"></i> Extended Pylon</li>
      </ul>
      <hr/>
      <h4><i class="fa fa-calendar"></i> Schedule</h4>
      <table class="table table-condensed table-striped highlight">
        <thead>
          <tr>
            <th>Day</th>
            <th>From</th>
            <th>To</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="s in wake.schedules">
            <td>{{s.day}}</td>
            <td>{{s.from.hour}}{{s.from.period}}</td>
            <td>{{s.to.hour}}{{s.to.period}}</td>
          </tr>
          <tr ng-cloak ng-hide="wake.schedules">
            <td colspan="3" class="muted">The wake schedule will be posted soon.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div ng-cloak ng-show="wake.types" class="sectional highlight">
  <p ng-cloak ng-show="profile.name" class="lead text-center form-group">Just choose how you want to ride <a ng-href="/profile/{{wake.userId}}">{{profile.name}}'s</a> wake</p>
  <div class="container animated fadeIn">
    <div class="row-fluid clearfix">
       <div ng-cloak ng-show="value" class="col-sm-4" ng-repeat="(key, value) in wake.types" ng-mouseover="type.$mouseover = true" ng-mouseleave="type.$mouseover = false">
        <a class="color1 thumbnail board-thumbnail" ng-class="{true: 'active'}[type.$mouseover]" ng-href="/wakes/{{wake.id}}/request/ride#{{key}}">
          <span class="boarding-icons boarding-icons-{{key}}" ng-class="{true: key+'-active'}[type.$mouseover]"></span>
          <div class="caption text-center text-capitalize">Lets Go <span class="text-capitalize">{{key}}</span></div>
        </a>
      </div>
    </div>
  </div>
</div>