<div class="sectional color1a clearfix sectional-sm">
  <div class="container animated fadeIn">
    <div class="col-sm-12">
      <h2><img avatar="{{profile.avatar}}" /> {{profile.name}} <small ng-show="profile.location"><i class="fa fa-map-marker"></i> {{profile.location}}</small></h2>
    </div>
  </div>
</div>
<div class="sectional sectional-sm">
  <div class="sectional-title">my account</div>
    <div class="container animated fadeIn">
      <div class="row clearfix">
        <div class="col-md-8">
          <div ng-cloak ng-show="errors" class="alert alert-danger">{{errors}}</div>
          <div class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-2">Name</label>
              <div class="col-sm-10">
                <input type="text" placeholder="Name" class="form-control" ng-model="profile.name" />
                <small class="muted">We're big on names around here, so people know who's who.</small>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Location</label>
              <div class="col-sm-10">
                <input type="text" placeholder="Location" class="form-control" ng-model="profile.location" />
              </div>
            </div>
            <div class="form-group has-feedback">
              <label class="control-label col-sm-2">Email</label>
              <div class="col-sm-10 has-success" ng-class="{'has-success':profile.emailVerified,'has-warning':!profile.emailVerified}">
                <input type="text" placeholder="Email" class="form-control" ng-model="profile.email" />
                <span ng-cloak ng-show="profile.emailVerified" class="fa fa-check form-control-feedback" aria-hidden="true"></span>
                <span ng-cloak ng-hide="profile.emailVerified" class="fa fa-warning form-control-feedback" aria-hidden="true"></span>
                <span ng-cloak ng-hide="profile.emailVerified" class="help-block">A verification link has been sent to your email address. <button class="btn btn-warning btn-xs" ng-click="resendVerifyEmail()"><i ng-cloak ng-show="sending" class="fa fa-spin fa-spinner"></i> Resend</button></span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Cell</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <span class="input-group-addon">1</span>
                  <input type="tel" class="form-control" placeholder="(555) 555-5555" ng-model="profile.cell.value" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Bio</label>
              <div class="col-sm-10">
                <textarea class="form-control" ng-model="profile.bio"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div profile-avatar-form profile="profile"></div>
          <div profile-gear-form profile="profile"></div>
        </div>
        <div class="col-sm-12 text-right form-group">
          <hr/>
          <button ng-cloak ng-show="profileSaved" class="btn btn-success" ng-click="updateProfile()">Success!</button>
          <button ng-cloak ng-hide="profileSaved" class="btn btn-primary" ng-click="updateProfile()" ng-bind="savingProfile ? 'Saving...' : 'Update Profile'" ng-disabled="savingProfile"></button>
        </div>
      </div>
    </div>
  </div>
</div>