<div ng-cloak ng-hide="profile.name" class="sectional highlight text-center">
  <h3 class="text-center">This user does not have a public profile yet</h3>
</div>
<div ng-cloak ng-show="profile.name" class="sectional color1a clearfix sectional-sm">
  <div class="container animated fadeIn">
    <div class="col-sm-12">
      <h2><img avatar="{{profile.avatar}}" /> {{profile.name}} <small ng-show="profile.location"><i class="fa fa-map-marker"></i> {{profile.location}}</small></h2>
    </div>
  </div>
</div>
<div ng-cloak ng-show="profile.name" class="sectional highlight">
  <div class="sectional-title">profile</div>
  <div class="container animated fadeIn">
    <div class="col-md-8">
      <p ng-cloak ng-show="profile.bio" class="lead">{{profile.bio}}</p>
      <p ng-cloak ng-hide="profile.bio" class="lead text-muted">{{profile.name}} does not have a bio yet.</p>
    </div>
    <div ng-cloak ng-show="profile.gear" class="col-md-4">
      <h4>Gear</h4>
      <table class="table table-condensed table-striped highlight">
        <tbody>
          <tr ng-repeat="gear in profile.gear">
            <td><b>{{gear.type}}</b></td>
            <td>{{gear.desc}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>  
</div>
<div ng-cloak ng-show="profile.wakes" class="sectional">
  <div class="sectional-title">wakes</div>
  <div ng-cloak ng-show="profile && profile.wakes" class="container animated fadeIn">
    <div class="col-sm-6 col-md-3 animated fadeIn" ng-repeat="wakeId in profile.wakes" wake-thumbnail wake-id="{{wakeId}}"></div>
  </div>
</div>