<div class="image-ocean login-container animated fadeIn row-fluid clearfix">
  <div class="jumbotron text-center form-group welcome-jumbotron">
    <h1>Hi <b class="animated bounce">{{profile.name}}</b>!</h1>
    <p>I'm very excited you decided to join our small community.<br/>Please take a moment and consider telling us a little more about <br/>yourself so we can get to know you. - Simook</p>
  </div>
</div>
<div class="container animated fadeIn">
  <div class="row clearfix form-group">
    <div class="form-group text-center">
      <h1 class="">1. Update your public profile.</h1>
      <p class="lead">Let other riders and boat owners get to know you a little better through your public profile.</p>
      <a href="/my/account" class="btn btn-lg btn-info" target="_blank">Update your Profile</a>
    </div>
  </div>
  <div class="row clearfix"><hr/></div>
  <div class="row clearfix">
    <div class="form-group text-center clearfix">
      <h1 class="">2. Add your wake (boat).</h1>
      <p class="lead">List your boat to connect with riders who need a wake to ride.</p>
      <a href="/wakes/new" class="btn btn-lg btn-info" target="_blank">Add your Wake</a>
    </div>
  </div>
  <div class="row clearfix"><hr/></div>
  <div class="row clearfix">
    <div class="form-group text-center clearfix">
      <p class="lead"><a href="/">Get me out of here! I just want to find a wake to ride.</a></p>
    </div>
  </div>
</div>