<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4>Request A Pull</h4>
</div>
<div class="modal-body" ng-hide="loading">
	<div class="alerts">
	  <div class="alert fade" ng-repeat="alert in alerts" bs-alert="alert"></div>
	</div>
  <div class="row-fluid">
    <div class="span7">
      How much can you contribute to boat expenses?
    </div>
    <div class="span5">
      <div class="input-prepend input-append row-fluid">
        <span class="add-on">$</span>
        <input class="span8" type="text" placeholder="0" ng-model="request.expenses">
        <span class="add-on">.00</span>
      </div>
    </div>
  </div>
  <hr>
  <div class="row-fluid">
    <div class="span7">
      Can you help with any of the following?
    </div>
    <div class="span5">
      <label class="checkbox">
        <input type="checkbox" value="true" ng-model="request.help.ridingLessons">
        Riding Lessons
      </label>
      <label class="checkbox">
        <input type="checkbox" value="true" ng-model="request.help.driving">
        Driving
      </label>
      <label class="checkbox">
        <input type="checkbox" value="true" ng-model="request.help.cleanup">
        Cleanup
      </label>
    </div>
  </div>
  <hr>
  <div class="row-fluid">
    <div class="span7">
      What's your notification preference?
    </div>
    <div class="span5">
      <label class="checkbox">
        <input type="checkbox" value="true" ng-model="request.notification.email">
        Email
      </label>
      <label class="checkbox">
        <input type="checkbox" value="true" ng-model="request.notification.textMessage">
        Text Message
      </label>
      <input type="tel" ng-cloak ng-show="request.notification.textMessage" ng-model="auth.cellphone" placeholder="Cellphone number"/>
    </div>
  </div>
</div>
<div class="modal-footer" ng-hide="loading">
  <button type="button" class="btn btn-primary" ng-click="requestPull($modal)">Submit</button>
</div>
<div class="modal-body" ng-show="loading">
  <p class="text-center muted">Loading</p>
</div>