<div class="container">
	<ul class="breadcrumb">
	  <li><a href="#">Home</a> <span class="divider">/</span></li>
	  <li class="active">{{pull.boat.year}} {{pull.boat.make}} {{pull.boat.model}}</li>
	</ul>
	<div class="page-header">
  	<h2>{{pull.boat.year}} {{pull.boat.make}} {{pull.boat.model}} <small><i class="icon-map-marker"></i> {{pull.location.verified}}</small></h2>
	</div>
	<div class="row-fluid">
		<div class="span8">
			<div class="boat-info">
				<div class="boat-features">
					<span class="label label-inverse" ng-show="pull.boat.perfectPass">CRUISE CONTROL / PERFECT PASS</span>
					<span class="label label-inverse" ng-show="pull.boat.ballastSystem">BALLAST SYSTEM</span>
					<span class="label label-inverse" ng-show="pull.boat.tower">TOWER</span>
					<span class="label label-inverse" ng-show="pull.boat.pylong">EXTENDED PYLON</span>
				</div>
				<div class="boat-thumbnail">
					<span class="shadow-overlay"></span>
					<img ng-src="{{pull.thumbnail}}" />
				</div>
				<div class="boat-tabs">
					<ul class="nav nav-tabs" id="myTab">
					  <li class="active"><a href="#description">Description</a></li>
					</ul>
					<div class="tab-content">
					  <div class="tab-pane active" id="description">{{pull.boat.description}}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="span4">
			<div ng-cloak class="well" ng-hide="pullRequested()">
				<div class="control-group" ng-show="auth.authenticated">
					<button type="button" class="btn btn-block btn-success btn-large" bs-modal="'partials/pulls/request.html'"><i class="icon-star-empty"></i> Request A Pull</button>
				</div>
				<div class="control-group" ng-hide="auth.authenticated">
					<div ng-controller="SessionCtrl">
					    <div class="alert alert-info">
					          <a href="" class="btn btn-large btn-block" bs-modal="'partials/signup.html'">Sign up</a>
					          <h5 class="text-center light">or</h5>
					          <a href="" class="btn btn-large btn-block" bs-modal="'partials/login.html'">Login</a>
					    </div>
					</div>
					<button type="button" class="btn btn-block disabled">Request A Pull</button>
				</div>
				<p class="muted text-center">Request a pull and be the first to know when you can wakeboard, wakesurf, or wakeskate behind this boat.</p>
			</div>
			<div ng-cloak class="well" ng-show="pullRequested()">
				<div class="control-group">
					<button type="button" class="btn btn-block disabled btn-large"><i class="icon-star"></i> Pull Requested</button>
				</div>
				<p class="muted">
					You'll be notified via
					<span ng-cloak ng-show="pullRequested().notification.email">Email</span>
					<span ng-cloak ng-show="pullRequested().notification.email && pullRequested().notification.textMessage">and</span>
					<span ng-cloak ng-show="pullRequested().notification.textMessage">Text Message</span>
					when a session has been scheduled.
				</p>
			</div>
		</div>
		<div class="span4">
  		<h4><i class="icon-calendar"></i> Pull Schedule</h4>
			<table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Day</th>
            <th>From</th>
            <th>To</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="s in pull.schedule">
            <td>{{s.day}}</td>
            <td>{{s.from.hour}}{{s.from.period}}</td>
            <td>{{s.to.hour}}{{s.to.period}}</td>
          </tr>
          <tr ng-cloak ng-hide="pull.schedule">
          	<td colspan="3" class="muted">No schedule has been added yet.</td>
          </tr>
        </tbody>
      </table>
		</div>
	</div>
</div>