<div class="container">
  <form ng-cloak ng-hide="true" class="form-text form-inline text-center page-header animated fadeInDown">
    <h2>
      <i class="fa fa-map-marker text-primary"></i>
      <div class="form-group">
        <label for="distance">Find me a wake within</label>
        <select id="distance" ng-change="updateLocation()" ng-model="selectedDistance" ng-options="distance as distance for distance in distances" required></select>
      </div>
      <div class="form-group">
        miles of
        <input type="text" id="location" ng-change="updateLocation()" placeholder="your current location" ng-model="formattedCurrentLocation" required>
        <small class="loader animated fadeIn" ng-cloak ng-show="loadingLocation"><i class="fa fa-spin fa-circle-o-notch"></i></small>
      </div>
    </h2>      
  </form>
  <div class="row clearfix animated fadeInDown">
    <div class="col-sm-6 col-md-3 animated fadeIn" ng-repeat="wake in wakes">
      <a class="thumbnail" ng-href="/wakes/{{wake.id}}">
        <div class="wake-thumbnail pattern-pixelweave">
          <div class="shadow-overlay">
            <span>{{wake.boat.year}} {{wake.boat.make}} {{wake.boat.model}}</span>
          </div>
          <img ng-src="{{wake.thumbnail}}" />
        </div>
        <div class="caption">
          <small class="muted"><i class="fa fa-map-marker"></i> {{wake.location.formatted}}</small>
          <span ng-cloak class="label pull-right" ng-show="wake.location.distance">{{wake.location.distance}} miles</span>
        </div>
      </a>
    </div>
  </div>  
</div>